<div class="col-md-4 offset-md-4" >
<h2>Post edit</h2>

<%= form_with model: @post do |f| %>  
    <div class="form-group" >
        <label>Content</label>
        <%= f.text_area :content, class: 'form-control' %>
        <%= f.submit "保存", class: 'btn btn-primary' %>    
    </div>
<% end %>
</div>
